<!-- <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 -->
 
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>adminLogoutService</servlet-name>
  	<servlet-class>services.adminLogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminLoginService</servlet-name>
  	
  	<servlet-class>services.adminLoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateLoginService</servlet-name>
  	<servlet-class>services.candidateLoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateLogoutService</servlet-name>
  	<servlet-class>services.candidateLogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateFormHandler</servlet-name>
  	<servlet-class>services.candidateFormHandler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateListService</servlet-name>
  	<servlet-class>services.candidateListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateRequestHandler</servlet-name>
  	<servlet-class>services.candidateRequestHandler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateFilter</servlet-name>
  	<servlet-class>services.candidateFilter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminProfile</servlet-name>
  	<servlet-class>services.adminProfile</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>adminProfileSave</display-name>
  	<servlet-name>adminProfileSave</servlet-name>
  	<servlet-class>services.adminProfileSave</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>candidateProfile</display-name>
  	<servlet-name>candidateProfile</servlet-name>
  	<servlet-class>services.candidateProfile</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>candidateProfileSave</display-name>
  	<servlet-name>candidateProfileSave</servlet-name>
  	<servlet-class>services.candidateProfileSave</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>sendVoterEmail</display-name>
  	<servlet-name>sendVoterEmail</servlet-name>
  	<servlet-class>services.sendVoterEmail</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Vote</display-name>
  	<servlet-name>Vote</servlet-name>
  	<servlet-class>services.Vote</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>VoterLogin</display-name>
  	<servlet-name>VoterLogin</servlet-name>
  	<servlet-class>services.VoterLogin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>countVotes</display-name>
  	<servlet-name>countVotes</servlet-name>
  	<servlet-class>services.countVotes</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>handleVoting</display-name>
  	<servlet-name>handleVoting</servlet-name>
  	<servlet-class>services.handleVoting</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>handleRegistration</display-name>
  	<servlet-name>handleRegistration</servlet-name>
  	<servlet-class>services.handleRegistration</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>homePage</display-name>
  	<servlet-name>homePage</servlet-name>
  	<servlet-class>services.homePage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>adminLogoutService</servlet-name>
  	<url-pattern>/adminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminLoginService</servlet-name>
  	<url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateLoginService</servlet-name>
  	<url-pattern>/candidateLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateLogoutService</servlet-name>
  	<url-pattern>/candidateLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateFormHandler</servlet-name>
  	<url-pattern>/candidateUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateListService</servlet-name>
  	<url-pattern>/candidateList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateRequestHandler</servlet-name>
  	<url-pattern>/candidateRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateRequestHandler</servlet-name>
  	<url-pattern>/candidateRequest/accept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateRequestHandler</servlet-name>
  	<url-pattern>/candidateRequest/reject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateFilter</servlet-name>
  	<url-pattern>/candidateFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminProfile</servlet-name>
  	<url-pattern>/adminProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminProfile</servlet-name>
  	<url-pattern>/adminProfile/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminProfileSave</servlet-name>
  	<url-pattern>/adminProfile/Save</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateProfile</servlet-name>
  	<url-pattern>/candidateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateProfile</servlet-name>
  	<url-pattern>/candidateProfile/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateProfile</servlet-name>
  	<url-pattern>/candidateProfile/edit/uploadmanifesto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateProfileSave</servlet-name>
  	<url-pattern>/candidateProfile/Save</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sendVoterEmail</servlet-name>
  	<url-pattern>/sendVoterEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Vote</servlet-name>
  	<url-pattern>/Vote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VoterLogin</servlet-name>
  	<url-pattern>/VoterLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>countVotes</servlet-name>
  	<url-pattern>/countVotes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>handleVoting</servlet-name>
  	<url-pattern>/handleVoting/start</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>handleVoting</servlet-name>
  	<url-pattern>/handleVoting/stop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>handleRegistration</servlet-name>
  	<url-pattern>/handleRegistration/start</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>handleRegistration</servlet-name>
  	<url-pattern>/handleRegistration/stop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>homePage</servlet-name>
  	<url-pattern>/homePage</url-pattern>
  </servlet-mapping>
  
</web-app>
